.container {
  width: 100%;

}

.segment {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.list { 
  display: block;
  margin-top: 1em !important;
}

.list.active {
  color: red;
}

.card {
  display: block;
}