img {
  width: 300px;
  height: auto;
  /* rotate: 90deg; */
}

.content {
  width: 320px;
  height: 360px;
}

.img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.caption {
  display: block;
  position: absolute;
  bottom: 5px;
  left: 50px;
  margin: 0 auto;
}